{{#if label}}
    <label for="filter-{{elementId}}" class="control-label {{labelClass}}">
        {{label}}
    </label>
{{/if}}
<div class="{{inputClass}} date-filter">
    {{input data-value=searchFilter type="date" id=(concat "filter-" elementId) class=(concat "form-control filter ") placeholder=filterPlaceholder}}
    {{#if isClearable}}
        <span {{action 'clearFilter'}} class="fa fa-remove clearFilter"></span>
    {{/if}}
</div>
