<div class="table-filter">
    {{#if label}}
        <label for="filter-{{elementId}}" class="control-label {{labelClass}}">
            {{label}}
        </label>
    {{/if}}
    <div class="{{inputClass}} search-filter">
        {{yield}}
    </div>
</div>