{{#if isFailure}}
    {{#ember-tabular-alert type="danger"}}
        {{failureMessage}}
        {{#if errors}}
            <ul>
                {{#each errors as |error|}}
                    <li>
                        {{error.detail}}
                    </li>
                {{/each}}
            </ul>
        {{/if}}
    {{/ember-tabular-alert}}
{{/if}}

{{yield header}}

<div class="table-responsive {{if tableWrapperClass tableWrapperClass}}">
    <table class="table {{if tableClass tableClass 'table-bordered table-hover'}} {{if isLoading 'loading'}}">
            {{#if columns}}
                <thead>
                    <tr>
                        {{#each columns as |header|}}
                            {{#if header.property}}
                                {{#if header.sort}}
                                    <th id="{{dot-to-dash-filter header.property}}" class="{{sortableClass}} filterable">
                                        <span {{action "toggleFilterRow"}} class="btn-toggle-filter glyphicon glyphicon-filter"></span>
                                        <div {{action "sortBy" header.property}} class="btn-sort">
                                            {{header.label}}
                                        </div>
                                    </th>
                                {{else}}
                                    <th id="{{dot-to-dash-filter header.property}}" class="filterable">
                                        <span {{action "toggleFilterRow"}} class="btn-toggle-filter glyphicon glyphicon-filter"></span>
                                        <div>
                                            {{header.label}}
                                        </div>
                                    </th>
                                {{/if}}
                            {{else}}
                                <th>{{header.label}}</th>
                            {{/if}}
                        {{/each}}
                    </tr>
                    {{#if isColumnFilters}}
                        <tr class="{{if showFilterRow 'showFilterRow' 'hideFilterRow'}}">
                            {{#each columns as |header|}}
                                {{#if header.property}}
                                    {{ember-tabular-filter modelName=modelName columns=columns property=header.property record=record query=query filter=filter header=header}}
                                {{else}}
                                    <th>{{!-- Blank to reserve table column --}}</th>
                                {{/if}}
                            {{/each}}
                        </tr>
                    {{/if}}
                </thead>
            {{/if}}
            <tbody>
                {{#if record}}
                    {{yield body}}
                {{else}}
                    <tr>
                        <td class="text-center" colspan="{{columnLength}}">
                            {{#if isrecordLoaded}}
                                {{tableLoadedMessage}}
                            {{else}}
                                Loading...
                            {{/if}}
                        </td>
                    </tr>
                {{/if}}
            </tbody>
    </table>
</div>

{{yield footer}}

<nav class="{{if paginationWrapperClass paginationWrapperClass}}">
    {{pagination-pager current=page count=pageLimit}}
</nav>
