{{#if hasProperty}}
  {{#if hasBlock}}
    <td>{{yield record column}}</td>
  {{else if column.selectable}}
    <td>
      <div class="checkbox-no-label checkbox-sm">
          {{ember-tabular-row-checkbox name="checked" model=record collection=collection}}
      </div>
    </td>
  {{else}}
    <td>{{get record column.property}}</td>
  {{/if}}
{{/if}}
