{{#if label}}
    <label for="filter-{{elementId}}" class="control-label {{labelClass}}">
        {{label}}
    </label>
{{/if}}
<div class="{{inputClass}} search-filter">
    {{input value=searchFilter type="text" id=(concat "filter-" elementId) class="form-control" placeholder=filterPlaceholder}}
    {{#if isClearable}}
        <span {{action 'clearFilter'}} class="fa fa-remove clearFilter"></span>
    {{/if}}
</div>
