{{#if isFailure}}
    {{#ember-tabular-alert type="danger"}}
        {{failureMessage}}
        {{#if errors}}
            <ul>
                {{#each errors as |error|}}
                    <li>
                        {{error.detail}}
                    </li>
                {{/each}}
            </ul>
        {{/if}}
    {{/ember-tabular-alert}}
{{/if}}

{{yield header}}

<div class="table-responsive {{if tableWrapperClass tableWrapperClass}}">
    {{yield wrapperHeader}}
    <table class="table {{if tableClass tableClass "table-bordered table-hover"}} {{if isLoading "loading"}}">
        {{ember-tabular-thead
            columns=columns
            isColumnFilters=isColumnFilters
            showFilterRow=showFilterRow
            sortableClass=sortableClass
            modelName=modelName
            record=record
            query=query
            filter=filter
            allChecked=allChecked
            toggleFilterRow=(action "toggleFilterRow")
            sortBy=(action "sortBy")
            focusFilter=(action "triggerOnFilterFocus")
        }}
        <tbody>
            {{yield (hash
                column=(component "ember-tabular-column-register" registry=registry columnOrder=columnOrder addToRegistry=(action "addToRegistry"))
            )}}
            {{ember-tabular-registry registryComplete=(action "registryComplete")}}
            {{#if record}}
                {{#if (and record columns)}}
                    {{#each record as |row|}}
                        <tr>
                            {{#each columns as |column|}}
                                {{#if column.isActive}}
                                    {{#if (compare-with columns "property" column.property "isCustom")}}
                                        {{yield (hash
                                            column=(component "ember-tabular-column" column=column record=row property=property collection=record class=column.class)
                                        )}}
                                    {{else}}
                                        {{ember-tabular-column column=column record=row property=column.property collection=record class=column.class}}
                                    {{/if}}
                                {{/if}}
                            {{/each}}
                        </tr>
                    {{/each}}
                {{else}}
                    <tr>
                        <td class="text-center td-loading" colspan="{{columnLength}}">
                            Loading...
                        </td>
                    </tr>
                {{/if}}
            {{else}}
                {{ember-tabular-loading isRecordLoaded=isRecordLoaded columnLength=columnLength tableLoadedMessage=tableLoadedMessage registryComplete=(action "registryComplete")}}
            {{/if}}
        </tbody>
    </table>
    {{yield wrapperFooter}}
</div>

{{yield footer}}

{{#if columns}}
    <div class="row">
        <div class="{{unless isDropdownLimit "col-sm-12" "col-sm-9"}}">
            {{#if isColumnSelect}}
                {{ember-tabular-column-select columns=columns}}
            {{/if}}
            <nav class="{{if paginationWrapperClass paginationWrapperClass}}">
                {{pagination-pager current=page count=pageLimit}}
            </nav>
        </div>
        {{#if isDropdownLimit}}
            <div class="col-sm-3">
                {{ember-tabular-dropdown-limit limit=limit record=record count=pageLimit}}
            </div>
        {{/if}}
    </div>
{{/if}}
