<div id="filter-{{dot-to-dash-filter this.property}}">
    {{#if this.header.list}}
        {{#power-select
            options=this.header.list
            selected=(find-by this.header.list 'value' this.headerFilter)
            searchField="label"
            searchEnabled=false
            triggerClass="ember-tabular-ember-power-select"
            allowClear=true
            onChange=(action "setHeaderFilter")
            onFocus=(action "focusFilter")
            as |option|}}
                {{option.label}}
        {{/power-select}}
    {{else}}
        {{input value=this.headerFilter focus-in=(action "focusFilter") type=this.header.type class=(concat "form-control filter " this.header.type) placeholder=this.inputPlaceholder}}
        {{#if this.isClearable}}
            <span {{action 'clearFilter'}} class="fa fa-remove clearFilter"></span>
        {{/if}}
    {{/if}}
</div>
