{{#if columns}}
    <div class="row">
        <div class="{{unless isDropdownLimit "col-sm-12" "col-sm-9"}}">
            {{#if isColumnSelect}}
                {{ember-tabular-column-select columns=columns}}
            {{/if}}
            <nav class="{{if paginationWrapperClass paginationWrapperClass}}">
                {{pagination-pager current=page count=pageLimit}}
            </nav>
        </div>
        {{#if isDropdownLimit}}
            <div class="col-sm-3">
                {{ember-tabular-dropdown-limit limit=limit record=record count=pageLimit}}
            </div>
        {{/if}}
    </div>
{{/if}}