{{#if this.hasProperty}}
  {{#if hasBlock}}
    <td class="{{this.class}}" data-test-table-column="{{this.column.property}}">{{yield this.record this.column}}</td>
  {{else if this.column.selectable}}
    <td class="{{this.class}}" data-test-table-column="{{this.column.property}}">
      <div class="checkbox-no-label checkbox-sm">
          {{ember-tabular-row-checkbox name="checked" model=this.record collection=this.collection}}
      </div>
    </td>
  {{else}}
    <td class="{{this.class}}" data-test-table-column="{{this.column.property}}">
      {{get this.record this.column.property}}
    </td>
  {{/if}}
{{/if}}
