<tbody>
    {{yield (hash
        column=(component "ember-tabular-column-register" registry=registry columnOrder=columnOrder addToRegistry=(action addToRegistry))
    )}}
    {{ember-tabular-registry registryComplete=registryComplete}}
    {{#if record}}
        {{#if (and record columns)}}
            {{#each record as |row|}}
                <tr>
                    {{#each columns as |column|}}
                        {{#if column.isActive}}
                            {{#if (compare-with columns "property" column.property "isCustom")}}
                                {{yield (hash
                                    column=(component "ember-tabular-column" column=column record=row property=property collection=record class=column.class)
                                )}}
                            {{else}}
                                {{ember-tabular-column column=column record=row property=column.property collection=record class=column.class}}
                            {{/if}}
                        {{/if}}
                    {{/each}}
                </tr>
            {{/each}}
        {{else}}
            <tr>
                <td class="text-center td-loading" colspan="{{columnLength}}">
                    Loading...
                </td>
            </tr>
        {{/if}}
    {{else}}
        {{ember-tabular-loading isRecordLoaded=isRecordLoaded columnLength=columnLength tableLoadedMessage=tableLoadedMessage registryComplete=registryComplete}}
    {{/if}}
</tbody>