<BasicDropdown @verticalPosition="below" as |dd|>
    <dd.Trigger class="btn btn-default dropdown-toggle">
        {{#if this.useIcon}}<span class="fa fa-columns"></span>{{/if}} {{this.btnCopy}} <span class="caret"></span>
    </dd.Trigger>
    <dd.Content>
        <SortableObjects @sortableObjectList={{this.columns}} @sortEndAction="sortEndAction" @sortingScope="a" class="dropdown-menu dropdown-menu-always-show pull-left" @tagName="ul">
            {{#each this.columns as |column|}}
                <DraggableObject @content={{column}} @overrideClass="sortObject" @isSortable={{true}} @sortingScope="a" @tagName="li">
                    <a {{action "toggleColumn" column}}>
                        <span class="{{if column.isActive "fa fa-check-square-o" "fa fa-square-o"}}"></span> {{column.label}}
                        <span class="fa fa-bars js-dragHandle pull-right"></span>
                    </a>
                </DraggableObject>
            {{/each}}
        </SortableObjects>
    </dd.Content>
</BasicDropdown>
