<div class="table-filter">
    {{#if this.label}}
        <label for="filter-{{this.elementId}}" class="control-label {{this.labelClass}}">
            {{this.label}}
        </label>
    {{/if}}
    <div class="{{this.inputClass}} search-filter">
        {{yield}}
    </div>
</div>
