{{#if isFailure}}
    {{#ember-tabular-alert type="danger"}}
        {{failureMessage}}
        {{#if errors}}
            <ul>
                {{#each errors as |error|}}
                    <li>
                        {{error.detail}}
                    </li>
                {{/each}}
            </ul>
        {{/if}}
    {{/ember-tabular-alert}}
{{/if}}

{{yield header}}

<div class="table-responsive {{if tableWrapperClass tableWrapperClass}}">
    <table class="table {{if tableClass tableClass 'table-bordered table-hover'}} {{if isLoading 'loading'}}">
            {{#if columns}}
                <thead>
                    <tr>
                        {{#each columns as |header|}}
                            {{#if header.isActive}}
                                {{#if header.property}}
                                    <th id="{{dot-to-dash-filter header.property}}" class="{{if header.sort sortableClass}} {{if header.filter "filterable"}}">
                                        {{#if header.filter}}
                                            <span {{action "toggleFilterRow"}} class="btn-toggle-filter glyphicon glyphicon-filter"></span>
                                        {{/if}}
                                        {{#if header.sort}}
                                            <div {{action "sortBy" header.property}} class="btn-sort">
                                                {{header.label}}
                                            </div>
                                        {{else if header.selectable}}
                                            <div class="checkbox-no-label checkbox-sm">
                                                <label>
                                                    {{input class="allChecked" type="checkbox" checked=allChecked}}
                                                    <span class="fake-checkbox"></span>
                                                </label>
                                            </div>
                                        {{else}}
                                            <div>
                                                {{header.label}}
                                            </div>
                                        {{/if}}
                                    </th>
                                {{else}}
                                    <th>{{header.label}}</th>
                                {{/if}}
                            {{/if}}
                        {{/each}}
                    </tr>
                    {{#if isColumnFilters}}
                        {{#if showFilterRow}}
                            <tr>
                                {{#each columns as |header|}}
                                    {{#if header.isActive}}
                                        {{#if header.filter}}
                                            {{ember-tabular-filter modelName=modelName columns=columns property=header.property record=record query=query filter=filter header=header}}
                                        {{else}}
                                            <th>{{!-- Blank to reserve table column --}}</th>
                                        {{/if}}
                                    {{/if}}
                                {{/each}}
                            </tr>
                        {{/if}}
                    {{/if}}
                </thead>
            {{/if}}
            <tbody>
                {{#if record}}
                    {{#each record as |row|}}
                        <tr>
                            {{!-- required outside of columns loop to trigger the render of the custom yielded columns --}}
                            {{yield (hash
                                column=(component "ember-tabular-column" registry=registry addToRegistry=(action "addToRegistry"))
                            )}}
                            {{#each columns as |column|}}
                                {{#if column.isActive}}
                                    {{#if (compare-with columns "property" column.property "isCustomTemplate")}}
                                        {{yield (hash
                                            column=(component "ember-tabular-column" column=column record=row property=property collection=record)
                                        )}}
                                    {{else}}
                                        {{ember-tabular-column column=column record=row property=column.property collection=record}}
                                    {{/if}}
                                {{/if}}
                            {{/each}}
                        </tr>
                    {{/each}}
                    {{ember-tabular-footer registryComplete=(action "registryComplete")}}
                {{else}}
                    <tr>
                        <td class="text-center" colspan="{{columnLength}}">
                            {{#if isRecordLoaded}}
                                {{tableLoadedMessage}}
                            {{else}}
                                Loading...
                            {{/if}}
                        </td>
                    </tr>
                {{/if}}
            </tbody>
    </table>
</div>

{{yield footer}}

<div class="row">
    <div class="{{unless isDropdownLimit 'col-sm-12' 'col-sm-9'}}">
        {{#if isColumnSelect}}
            {{ember-tabular-column-select columns=columns}}
        {{/if}}
        <nav class="{{if paginationWrapperClass paginationWrapperClass}}">
            {{pagination-pager current=page count=pageLimit}}
        </nav>
    </div>
    {{#if isDropdownLimit}}
        <div class="col-sm-3">
            {{ember-tabular-dropdown-limit limit=limit record=record count=pageLimit}}
        </div>
    {{/if}}
</div>
