{{#if hasProperty}}
  {{#if hasBlock}}
    <td class="{{class}}" data-test-table-column="{{column.property}}">{{yield record column}}</td>
  {{else if column.selectable}}
    <td class="{{class}}" data-test-table-column="{{column.property}}">
      <div class="checkbox-no-label checkbox-sm">
          {{ember-tabular-row-checkbox name="checked" model=record collection=collection}}
      </div>
    </td>
  {{else}}
    <td class="{{class}}" data-test-table-column="{{column.property}}">{{get record column.property}}</td>
  {{/if}}
{{/if}}
