<h5>Example #4</h5>
<h1>Table - Basic - Route Binds Model to Table</h1>
{{#ember-table-jsonapi class="table-basic-route-model" columns=columns makeRequest=false bindModel=model page=page pageLimit=pageLimit as |section|}}
    {{#if section.isBody}}
        {{#each model as |row|}}
            <tr>
                <td>{{row.username}}</td>
                <td>{{row.emailAddress}}</td>
                <td>{{row.firstName}}</td>
                <td>{{row.lastName}}</td>
                <td>
                    {{#if row.updatedAt}}
                        {{moment-format row.updatedAt 'MM/DD/YYYY'}}
                    {{else}}
                        {{moment-format row.createdAt 'MM/DD/YYYY'}}
                    {{/if}}
                </td>
            </tr>
        {{/each}}
    {{/if}}
{{/ember-table-jsonapi}}
