<h5>Example #1</h5>
<h1>Table - Default</h1>
{{#ember-tabular class="table-default" tableWrapperClass="table-wrapper" paginationWrapperClass="pagination-wrapper" columns=columns modelName="user" record=users as |section|}}
    {{#if section.isBody}}
        {{#each users as |row|}}
            <tr>
                <td>{{row.username}}</td>
                <td>{{row.emailAddress}}</td>
                <td>{{row.firstName}}</td>
                <td>{{row.lastName}}</td>
                <td>
                    {{#if row.isAdmin}}
                        Yes
                    {{else}}
                        No
                    {{/if}}
                </td>
                <td>
                    {{#if row.updatedAt}}
                        {{moment-format row.updatedAt 'MM/DD/YYYY'}}
                    {{else}}
                        {{moment-format row.createdAt 'MM/DD/YYYY'}}
                    {{/if}}
                </td>
                <td>
                    {{#link-to "index" class="btn btn-default btn-xs" role="button"}}
                        Edit
                    {{/link-to}}
                </td>
            </tr>
        {{/each}}
    {{/if}}
{{/ember-tabular}}

<h5>Example #2</h5>
<h1>Table - Basic - Global Filter</h1>
{{#ember-tabular class="table-basic-global-filter" columns=columns2 modelName="user" record=users2 filter=filter as |section|}}
    {{#if section.isHeader}}
        {{ember-tabular-global-filter filter=filter filterProperty="username" filterPlaceholder="Search by Username"}}
    {{else if section.isBody}}
        {{#each users2 as |row|}}
            <tr>
                <td>{{row.username}}</td>
                <td>{{row.emailAddress}}</td>
                <td>{{row.firstName}}</td>
                <td>{{row.lastName}}</td>
                <td>
                    {{#if row.updatedAt}}
                        {{moment-format row.updatedAt 'MM/DD/YYYY'}}
                    {{else}}
                        {{moment-format row.createdAt 'MM/DD/YYYY'}}
                    {{/if}}
                </td>
            </tr>
        {{/each}}
    {{/if}}
{{/ember-tabular}}

<h5>Example #3</h5>
<h1>Table - Basic - Dropdown Filter / Date Filter</h1>
{{#ember-tabular class="table-basic-global-date-filter" columns=columns2 modelName="user" record=users3 filter=filter2 as |section|}}
    {{#if section.isHeader}}
        <div class="row">
            <div class="col-sm-6">
                {{#ember-tabular-dropdown-filter filter=filter2 filterProperty="isAdmin" label="Is Admin" searchFilter=isAdminFilter}}
                    {{#power-select
                        options=adminContent
                        selected=(find-by adminContent 'value' isAdminFilter)
                        searchField="label"
                        searchEnabled=false
                        placeholder="Select to filter"
                        class="ember-tabular-ember-power-select"
                        allowClear=true
                        onchange=(action "setIsAdminFilter")
                        as |option|}}
                            {{option.label}}
                    {{/power-select}}
                {{/ember-tabular-dropdown-filter}}
            </div>
            <div class="col-sm-6">
                {{ember-tabular-date-filter filter=filter2 filterProperty="updatedAt" label="Last Updated" filterPlaceholder="MM/DD/YYYY"}}
            </div>
        </div>
    {{else if section.isBody}}
        {{#each users3 as |row|}}
            <tr>
                <td>{{row.username}}</td>
                <td>{{row.emailAddress}}</td>
                <td>{{row.firstName}}</td>
                <td>{{row.lastName}}</td>
                <td>
                    {{#if row.updatedAt}}
                        {{moment-format row.updatedAt 'MM/DD/YYYY'}}
                    {{else}}
                        {{moment-format row.createdAt 'MM/DD/YYYY'}}
                    {{/if}}
                </td>
            </tr>
        {{/each}}
    {{/if}}
{{/ember-tabular}}

<h5>Example #4</h5>
{{#link-to 'example4'}}
    Route Binds Model to Table
{{/link-to}}
